.agenda-popup {
    width: 700px;
    height: 400px;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -350px;
    background: white;
    color: #666666;
    position: fixed;
    z-index: 9999;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
    .events-list {
        display: flex;
        justify-content: space-between;
        div {
            display: flex;
            padding: 0 0 10px 0;
            img {
                width: 50px;
                position: relative;
                top: -8px;
            }
        }
        a {
            text-decoration: none;
            color: black;
            span {
                border: 2px solid black;
                border-radius: 25px;
                padding: 2px 5px;
                font-size: 0.8em;
                font-weight: bold;
            }
            
        } 
    }
    .top-agenda-popup {
        display: flex;
        justify-content: space-between;
        margin: 0 0 15px 0;
        div {
            display: flex;
            img {
                width: 50px;
            }
            a {
                color: #666666;
                text-decoration: none;
                font-size: 1.3em;
                font-weight: 500;
                padding: 8px 0 0 0;
                
            }
        }
        p {
            font-size: 1.3em;
            padding: 7px 0 0 0;
        }
        
        .close {
            font-size: 2em;
            display: block;
            position: relative;
            top: -5px;
        }
    }
    .flex-popup {
        display: flex;
        margin: 0 0 12px 0;
        img {
            width: 50px;
        }
        p {
            padding: 10px;
            font-size: 1.1em;
        }
    } 
    .attendance {
        padding: 0 0 15px 0;
        img {
            width: 30px;
            position: relative;
            top: 9px;
        }
    }
}

.agenda {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    .agenda-container {
        width: 96%;
        margin: 0 auto;
        height: 100%;
        .fc-media-screen {
            width: 100%;
            height: 100%;
            .fc-dayGridMonth-button, .fc-timeGridWeek-button, .fc-timeGridDay-button, .fc-today-button  {
                color: #9F9F9F;
                background: #F5F5F5;
                border: none;
                margin-left: 17px;
                border-radius: 6px;
                padding-left: 30px;
                padding-right: 30px;
            }
            .fc-button-active {
                color: #0AB130;
                background: #F5FCF7;
            }
        }

        
        .fc-next-button, .fc-prev-button {
            display: inline;
            background: none;
            color: #A3A3A3;
            border: none;
        }
        .fc-toolbar-title {
            text-transform: capitalize;
            font-size: 0.85em;
            color: #0AB130;
            background: #F5FCF7;
            padding: 10px;
            font-weight: 500;
            display: inline;
        }
        .fc-button {
            box-shadow: none !important;
        }

        .fc-theme-standard .fc-dayGridMonth-view td {
            border: none;
        }

        .fc-dayGridMonth-view {
            .fc-col-header-cell-cushion  {
                color: #666666;
                font-size: 1.4em;
                padding-bottom: 20px;
                font-weight: 500;
            }
            .fc-daygrid-day-frame {
                border-top: 1px solid #E0E0E0;
                border-left: 1px solid #E0E0E0;
            }
            .fc-col-header-cell {
                border: none;
            }
            .fc-scrollgrid {
                border: none;
            }
            .fc-view-harness {
                border-bottom: 1px solid #E0E0E0;
            }
            .fc-daygrid-day-number {
                padding-right: 5px;
                padding-top: 5px;
            }
            .fc-daygrid-body {
                border-right: 1px solid #E0E0E0;
            }
            .fc-event-main-frame {
                white-space: normal;
            }
            .fc-daygrid-event {
                background: none;
                border: 1px solid #E0E0E0;
             
            }
            .fc-event-title {
                color: #666666;
                padding: 4px;
            }
            .fc-event-time {
                display: none;
            }
        }
    }
    
}

@media only screen and (max-width: 700px) {
    .agenda-popup {
        width: 700px;
        height: 400px;
        top: 50%;
        left: 50%;
        margin: -200px 0 0 -350px;
        background: white;
        color: #666666;
        position: fixed;
        z-index: 9999;
        border-radius: 15px;
        padding: 20px;
        box-sizing: border-box;
        .events-list {
            display: flex;
            justify-content: space-between;
            div {
                display: flex;
                padding: 0 0 10px 0;
                img {
                    width: 50px;
                    position: relative;
                    top: -8px;
                }
            }
            a {
                text-decoration: none;
                color: black;
                span {
                    border: 2px solid black;
                    border-radius: 25px;
                    padding: 2px 5px;
                    font-size: 0.8em;
                    font-weight: bold;
                }
                
            } 
        }
        .top-agenda-popup {
            display: flex;
            justify-content: space-between;
            margin: 0 0 15px 0;
            div {
                display: flex;
                img {
                    width: 50px;
                }
                a {
                    color: #666666;
                    text-decoration: none;
                    font-size: 1.3em;
                    font-weight: 500;
                    padding: 8px 0 0 0;
                    
                }
            }
            p {
                font-size: 1.3em;
                padding: 7px 0 0 0;
            }
            
            .close {
                font-size: 2em;
                display: block;
                position: relative;
                top: -5px;
            }
        }
        .flex-popup {
            display: flex;
            margin: 0 0 12px 0;
            img {
                width: 50px;
            }
            p {
                padding: 10px;
                font-size: 1.1em;
            }
        } 
        .attendance {
            padding: 0 0 15px 0;
            img {
                width: 30px;
                position: relative;
                top: 9px;
            }
        }
    }
    
    .agenda {
        .agenda-container {
            .fc-toolbar {
                display: block;
            }
            .fc-toolbar-chunk {
                text-align: center;
                margin: 25px 0 0 0;
            }
            .fc-button-group {
                margin: 25px 0 0 0;
            }
        }
    }
}