.event-create {
    width: 80%;
    margin: 0 auto;
    padding: 0 0 50px 0;
    .map {
        height: 300px;
        margin: 30px 0;
    }
    label {
        display: block;
        margin: 25px 0 0 75px;
        font-weight: bold;
    }
    input[type="file"] {
        margin: 0 0 0 75px;
    }
    .type {
        width: 25%;
        box-sizing: border-box;
        padding: 6px 10px;
        border-radius: 15px;
        border: 2px solid black;
        margin: 15px 0 0 75px;
    }
    .event-logo {
        margin:  0 0 0 75px;
        display: block;
        width: 150px;
    }
    .event-title {
        font-size: 1.4em;
        margin: 0 0 10px 0;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: center;
        a {
            padding: 1px 5px 4px 5px;
            border: 2px solid black;
            text-transform: lowercase;
            text-decoration: none;
            color: black;
            text-align: center;
            font-size: 0.9em;
            font-weight: 500;
            letter-spacing: 2px;
            border-radius: 15px;
        }
        span {
            border-bottom: 5px solid black;
            padding: 0 13px;
        }
    }
    h2 {
        img {
            width: 50px;
            position: relative;
            top: 18px;
            margin: 0 25px 0 0;
        }
    }
    .naam {
        margin: 15px 0 0 75px;
        border: 2px solid black;
        padding: 6px 10px;
        border-radius: 15px;
        width: 30%;
    }
    textarea {
        margin: 15px 0 0 75px;
        border: 2px solid black;
        padding: 6px 10px;
        border-radius: 15px;
        width: 30%;
        display: block;
        height: 120px;
    }
    .input-image {
        img {
            width: 50px;
            position: relative;
            top: 18px;
        }
        input {
            margin: 0 0 0 24px;
            border: 2px solid black;
            padding: 6px 10px;
            border-radius: 15px;
            width: 30%;
        }
        span {
            padding: 3px 10px;
            border-radius: 15px;
            border: 2px solid black;
            position: relative;
            top: 2px;
            left: 8px;
        }
    }
    .hours {
        margin: 0 0 0 50px;
    }
    .input-data {
        margin: 20px 0 0 100px;
        display: flex;
        flex-wrap: wrap;
        select {
            width: 25%;
            box-sizing: border-box;
            padding: 6px 10px;
            border-radius: 15px;
            border: 2px solid black;
            margin: 0 1% 5px 1%;
        }
        input {
            width: 23%;
            box-sizing: border-box;
            padding: 6px 10px;
            border-radius: 15px;
            border: 2px solid black;
            margin: 0 1% 5px 1%;
        }
        #starthour:before {
            content:'Start uur:';
            margin-right:.6em;
            color:#9d9d9d;
        }
        #endhour:before {
            content:'Eind uur:';
            margin-right:.6em;
            color:#9d9d9d;
        }
    }
    .new {
        margin: 10px 0 0 130px;
        display: inline-block;
        img {
            width: 35px;
            position: relative;
            top: 10px;
            margin: 0 10px 0 0;
        }
    }
    button {
        background: #47AD4C;
        color: white;
        padding: 15px 0;
        border: 0;
        width: 50%;
        margin: 50px auto;
        display: block;
    }
    
}


@media only screen and (max-width: 700px) { 
    .event-create {
        width: 90%;/**/
        margin: 0 auto;
        padding: 0 0 50px 0;
        label {
            display: inline-block;
            padding: 20px 0 0 0;
            margin: 0;
            font-weight: bold;
        }
        input[type="file"] {
            margin: 0 0 0 10px;
        }
        .event-title {
            font-size: 1em;/**/
            margin: 0 0 10px 0;
            text-transform: uppercase;
            letter-spacing: 1px;
            text-align: center;
            
            span {
                border-bottom: 5px solid black;
                padding: 0 13px;
            }
        }
        h2 {
            font-size: 0.8em;/**/
            img {
                width: 30px;/**/
                position: relative;
                top: 11px;/**/
                margin: 0 5px 0 0;/**/
            }
        }
        .naam {
            margin: 15px 0 0 0;/**/
            border: 2px solid black;
            padding: 6px 10px;
            border-radius: 15px;
            width: 100%;/**/
            box-sizing: border-box;/**/
        }
        textarea {
            margin: 15px 0 0 0;/**/
            border: 2px solid black;
            padding: 6px 10px;
            border-radius: 15px;
            width: 100%;/**/
            box-sizing: border-box;/**/
            display: block;
            height: 120px;
        }
        .input-image {
            img {
                width: 10%;/**/
                position: relative;
                top: 17px;/**/
                margin-right: 5px;
            }
            input {
                margin: 0;/**/
                border: 2px solid black;
                padding: 6px 10px;
                border-radius: 15px;
                width: 87%;/**/
                box-sizing: border-box;
            }
            span {
                margin: 10px 0 10px 42px;/**/
                padding: 2px 0;/**/
                display: block;/**/
                width: 100px;/**/
                text-align: center;/**/
            }
        }
        .hours {
            margin: 0;/**/
        }
        .input-data {
            margin: 20px 0 0 0;/**/
            display: block;/**/
            select {
                width: 48%;
                box-sizing: border-box;
                padding: 6px 10px;
                border-radius: 15px;
                border: 2px solid black;
                margin: 0 1% 5px 1%;
            }
            input {
                width: 48%;
                box-sizing: border-box;
                padding: 6px 10px;
                border-radius: 15px;
                border: 2px solid black;
                margin: 0 1% 5px 1%;
            }
        }
        .new {
            margin: 10px 0 0 0;/**/
            img {
                width: 35px;
                position: relative;
                top: 10px;
                margin: 0 10px 0 0;
            }
        }
        button {
            background: #47AD4C;
            color: white;
            padding: 15px 0;
            border: 0;
            width: 50%;
            margin: 50px auto;
            display: block;
        }   
    }
}
