.get-table {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    .get {
        color: black;
        width: 44%;
        text-decoration: none;
        background: #FDF4CF;
        box-sizing: border-box;
        margin: 20px 3%;
        h2 {
            margin-top: 15px;
            text-align: center;
        }
        p {
            margin: 20px;
        }
    }
    .buttons {
        text-align: center;
        padding-bottom: 20px;
        img {
            width: 50px;
        }
    }

}

.business-container {
    .title {
        text-align: center;
        font-size: 2.5em;
        margin: 50px 0 50px 0;
    }
    .business-flex {
        display: flex;
        flex-wrap: wrap;
        .business-data {
            width: 31.3%;
            margin: 0 1% 15px 1%;
            padding: 15px;
            box-sizing: border-box;
            background: #FDF4CF;
            border-radius: 20px;
            text-decoration: none;
            color: black;
            h2 {
                text-align: center;
                margin: 0 0 10px 0;
            }
            p {
                margin: 0 0 5px 0;
            }
        }
    }
}

.products-container {
    width: 80%;
    background: #FDF4CF;
    margin: 100px auto 0 auto;
    padding: 0 0 70px 0;
    h2 {
        text-align: center;
        font-size: 2em;
        padding: 50px 0;
    }
    .products-data {
        display: flex;
        .products {
            flex: 1;
            h3 {
                text-align: center;
                padding: 0 0 20px 0;
                font-size: 1.4em;
            }
            .products-inner {
                display: flex;
                flex-wrap: wrap;
                .product {
                    width: 33.3%;
                    h4 {
                        text-align: center;
                        margin: 20px 0 0 0;
                    }
                    .product-credits {
                        width: 75%;
                        margin: 0 auto 0 auto;
                        div {
                            display: inline-block;
                            width: 50%;
                            span {
                                font-weight: bold;
                            }
                            img {
                                position: relative;
                                top: 18px;
                                left: 5px;
                                width: 50px;
                                height: 50px;
                            }
                        }
                    }
                    p {
                        background: white;
                        color: black;
                        font-weight: bold;
                        text-align: center;
                        width: 75%;
                        margin: 20px auto 0 auto;
                        border-radius: 15px;
                        padding: 4px 0;
                        font-size: 1.2em;
                        cursor: pointer;
                    }
                }
            }
        }
        .description {
            flex: 1;
            p {
                margin: 0 0 50px 0;
            }
            .map {
                width: 80%;
                height: 300px;
                border: 3px solid lightgrey;
            }
        }
    }
    
}