.login-message {
    position: absolute;
    top: 25px;
    background: #cc0000;
    padding: 15px;
    color: white;
    border-radius: 25px;
    text-align: center;
    display: block;
    width: 50%;
    left: 25%;
}
.login {
    width: 50%;
    margin: 0 auto;

    .logo {
        width: 40%;
        display: block;
        margin: 0 auto 50px auto;
        padding-top: 100px;
    }
    input {
        width: 100%;
        box-sizing: border-box;
        padding: 8px 5px;
        margin: 0 0 12px 0;
    }
    button {
        background: none;
        border: 1px solid lightgray;
        padding: 8px 0;
        width: 25%;
        cursor: pointer;
        display: block;
        margin: 15px auto 0 auto;
    }
    .register {
        display: block;
        width: 35%;
        margin: 20px auto 0 auto;
        background: #DF1365;
        border-radius: 10px;
        cursor: pointer;
        img {
            width: 100%;
            display: block;
            padding: 8px 0;
        }
    }
}
.left-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
}

.right-top {
    position: absolute;
    top: 0;
    right: 0;
}

.right-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
}

.left-top{
    position: absolute;
    top: 0;
    left: 0;
}

@media only screen and (max-width: 700px) {
    .login {
        width: 90%;
        .logo {
            margin: 100px auto 50px auto;
        }
        button {
            padding: 8px 45px;
            width: auto;
        }
        .register {
            width: 80%;
        }
    }
    .left-bottom {
        width: 100px;
    }
    .right-top {
        width: 100px;
    }
    .right-bottom {
        width: 100px;
    }
    .left-top{
        width: 100px;
    }
}