
.event-container {
    width: 90%;
    margin: 0 auto;
    h2 {
        img {
            width: 50px;
            position: relative;
            top: 18px;
            margin: 0 9px 0 0;
        }
    }
    .project {
        display: flex;
        .project-name {
            margin: 20px 0 0 0;
            .project-picture {
                width: 30px;
                height: 30px;
                margin: 0;
                border-radius: 100%;
                position: relative;
                top: 8px;
                margin: 0 8px 0 0;
            }
        }
        .projectteam {
            margin: 30px 0 0 30px;
            position: relative;
            img {
                width: 30px;
            }
            span {
                position: absolute;
                background: #F6C945;
                padding: 1px 6px;
                border-radius: 100%;
                font-size: 0.8em;
                left: 20px;
                top: -8px;
            }
        }
    }
    .event {
        display: flex;
        margin: 20px 0 0 50px;
        p {
            flex: 1;
            img {
                width: 30px;
                position: relative;
                top: 8px;
                margin: 0 8px 0 0;
            }
        }
        .team {
            position: relative;
            span {
                position: absolute;
                background: #F6C945;
                padding: 1px 6px;
                border-radius: 100%;
                font-size: 0.8em;
                left: 20px;
            }
        }
        div {
            flex: 1;
            a {
                width: 50px;
                display: block;
                img {
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 1600px) { 
    .event-container {
        .project {
            .event {
                flex-wrap: wrap;
                margin: 20px 0 0 0;
                p {
                    width: 50%;
                    flex: auto; 
                    font-size: 0.9em;
                    margin: 0 0 10px 0;  
                }
                div {
                    flex: auto;
                    width: 50%;
                    a {
                        width: 30px;
                    }
                }
            }
        }
    }
}