.nav {
    height: 14%;
    width: 80%;
    margin: 0 auto;
    padding: 15px 0;
    box-sizing: border-box;
    position: relative;
    input {
        width: 100%;
        height: 100%;
        border-radius: 70px;
        padding: 25px;
        box-sizing: border-box;
        font-size: 1.5em;
        border: 2px solid black;
    }
    .innernav {
        display: flex;
        background: #1D1D1B;
        padding: 15px 0;
        box-sizing: border-box;
        border-radius: 70px;
        width: 100%;
        height: 100%;
        text-align: center;
      
        div {
            width: 100%;
            height: 100%;
            position: relative;
            a {
                width: 100%;
                height: 100%;
                display: block;
                img {   
                    height: 100%;
                }
                .notifications {
                    position: absolute;
                    top: -7px;
                    left: 55%;
                    background: #F7931E;
                    padding: 1px 7px 2px 7px;
                    border-radius: 100%;
                    color: white;
                    border: 1px solid white;
    
                }
            }
           
        }
        
    }
    .filter{
        width: 40px;
        position: absolute;
        right: -17px;
        top: 45px;
        border-radius: 100%;
        background: black;
    }
    .manual {
        width: 40px;
        position: absolute;
        left: -17px;
        top: 45px;
        border-radius: 100%;
        color: white;
        padding: 8px 0;
        background: #1D1D1B;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        font-size: 1.2em;
    }
    .close {
        padding: 8px;
        width: 24px;
    }
    .results {
        position: absolute;
        top: 131px;
        width: 100%;
        background: white;
        border: 2px solid black;
        border-radius: 70px;
        z-index: 1001;
        padding: 35px;
        box-sizing: border-box;
        a {
            padding: 5px;
            box-sizing: border-box;
            display: flex;
            text-decoration: none;
            color: black;
            img {
                width: 40px;
                margin: 0 10px 0 0;
            }
            p {
                padding: 10px 0;
            }
        }
        a:hover {
            background: #F2F2F2;
            border-radius: 25px;
        }

    }
}

@media only screen and (max-width: 1000px) {
    .nav {
        width: 95%;
    }
}

@media only screen and (max-width: 800px) {
    .nav {
        height: 100px;
        .filter{
            width: 30px;
            right: -17px;
            top: 37px;
        }
        .close {
            width: 15px;
        }
        .manual {
            width: 30px;
            position: absolute;
            left: -17px;
            top: 34px;
            font-size: 0.8em;
        }
    }
}