
.profile {

    border-radius: 70px;
    width: 90%;
    margin: 0 auto;
    padding: 30px 0 50px 0;
    .noaccount {
        text-align: center;
        a {
            background: black;
            color: white;
            text-decoration: none;
            padding: 1px 15px 7px 15px;
            border-radius: 25px;
            margin: 0 0 0 15px;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 500;
            font-size: 0.9em;
        }
    }
    .container {
        display: flex;
        .left {
            flex: 1;
            margin: 20px 0 0 0;
            .logout {
                margin-top: 15px;
            }
            a {
                display: block;
                text-decoration: none;
                color: black;
                font-weight: bold;
                margin: 0 0 0 30px;
                img {
                    width: 37px;
                    position: relative;
                    top: 13px;
                    margin: 0 7px 0 0;
                }
            }
        }
        .middle {
            width: 60%;
            position: relative;
            .profile-icon {
                margin: 40px auto 15px auto;
                display: block;
                background: black;
                padding: 37px;
                border-radius: 100%;
                font-size: 100px;
            }
            .profile-image {
                width: 174px;
                height: 174px;
                margin: 40px auto 15px auto;
                display: block;
                border-radius: 100%;
            }
            .profile-name {
                font-size: 2.8em;
                margin: 0 0 10px 0;
                text-transform: uppercase;
                color: #464644;
                letter-spacing: 2px;
                text-align: center;
                font-family: balboa-plus-fill,sans-serif;
                font-weight: 400;
                font-style: normal;
            }
            .line {
                width: 80%;
                height: 10px;
                background: black;
                margin: 0 auto;
                border-radius: 8px;
            }
            .profile-credits {
                position: absolute;
                right: 0;
                top: 220px;
                font-weight: bold;
                font-size: 1.3em;
                img {
                    position: relative;
                    top: 15px;
                    width: 50px;
                }
            }
        }
        .right { 
            flex: 1;  
            .profile-edit {
                width: 90px;
                display: block;
                margin: 30px 30px 0 auto;
            }
            .like {
           
                flex-grow: 1;
                flex-basis: 0;
                display: flex;
                justify-content: right;
                margin: 50px 30px 0 0;
                opacity: 0.3;
                cursor: pointer;
                position: relative;
                   
                    span {
                        position: absolute;
                        top: -12px;
                        right: 35px;
                        padding: 5px 0;
                        background: white;
                        padding: 4px 11px 6px 11px;
                        border-radius: 100%;
                        font-weight: bold;
                        margin: 0 10px 0 0;
                        color: black;
                        border: 1px solid #745AA2;
                    }
                    img {
                        width: 60px;
                        height: 60px;
                        margin: 0 7px 0 0;
                    }
                    p {
                        padding: 18px 0 0 0;
                        text-decoration: underline;
                        font-weight: bold;
                    }
           
                
            }
            .liked {
                opacity: 1;
            }
        }
    }
    .profile-container {
        display: flex;
        width: 90%;
        margin: 70px auto 0 auto;
        .left {
            display: flex;
            flex-wrap: wrap;
            flex: 1;
            margin: 15px 0 0 0;
            div {
                width: 33.3%;
                margin: 0 0 30px 0;
                
                img {
                    width: 34%;
                    margin: 0 auto;
                    display: block;
                    cursor: pointer;
                }
                h2 {
                    text-align: center;
                    margin: 15px 0 0 0;
                    font-size: 1em;
                }
                .projects {
                    margin: 15px 0 0 0;
                    color: black;
                    display: block;
                    text-decoration: none;
                    .teamIcon {
                        background: black;
                        border-radius: 100%;
                        font-size: 28px;
                        margin-right: 8px;
                        position: relative;
                        top: 7px;
                    }
                    img {
                        width: 40px;
                        height: 40px;
                        margin: 0;
                        border-radius: 100%;
                        position: relative;
                        top: 15px;
                        margin: 0 10px 0 0;
                        display: inline;
                    }
                }
            }
        }
        .right {
            width: 300px;
            h2 {
                img {
                    width: 50px;
                    position: relative;
                    top: 18px;
                    margin:  0 9px 0 0;
                }
            }
            p {
                margin: 5px 20px 5px 62px;
            }
            .email {
                color: #808080;
                text-decoration: underline;
            }
        }
    }
    .profile-below-container {
        display: flex;
        width: 90%;
        margin: 70px auto 0 auto;
        .left {
            flex: 1;
            h2 {
                margin: 0 0 40px 0;
                img {
                    width: 50px;
                    position: relative;
                    top: 18px;
                    margin: 0 9px 0 0;
                }
            }
            .skill {
                display: flex;
                margin: 0 0 8px 0;
                .nameAndIcon {
                    width: 30%;
                    display: flex;
                    img {
                        width: 35px;
                        position: relative;
                        top: -5px;
                        margin: 0 10px 0 0;
                    }
                }
                p {
                    width: 20%;
                    font-weight: bold;
                }
                .progress {
                    height: 6px;
                    width: 50%;
                    background: black;
                    border-radius: 3px;
                    position: relative;
                    margin: 7px 0 0 0;

                    img {
                        width: 30px;
                        position: absolute;
                        top: -13px;
                    }
                }
            }
        }
        .right {
            width: 300px;
            padding: 0 0 0 60px;
            h2 {
                margin: 0 0 25px 0;
                img {
                    width: 50px;
                    position: relative;
                    top: 16px;
                    margin: 0 9px 0 0;
                }
            }
            .badges {
                display: flex;
                flex-wrap: wrap;
                div {
                    width: 23%;
                    margin: 20px 2% 0 0;
                    img {
                        width: 50%;
                        margin: 0 auto;
                        border-radius: 100%;
                    }
                    .starter {
                        opacity: 0.4;
                    }
                }

            }
        }
    }
}

.profile-edit {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 100px;
    textarea {
        width: 50%;
        display: block;
        height: 250px;
        padding: 15px;
        box-sizing: border-box;
        margin: 0 0 30px 0;
    }
    input {
        width: 50%;
        display: block;
        padding: 15px;
        box-sizing: border-box;
        margin: 0 0 30px 0;
    }
    .thumbnail {
        width: 50%;
    }
    button {
        display: block;
        width: 50%;
        background: none;
        padding: 15px;
        box-sizing: border-box;
        border: 2px solid black;
        margin: 50px 0;
    }
}

@media only screen and (max-width: 700px) {
    .profile {
        .container {
            display: block;
            .middle {
                width: 100%;
                .profile-name {
                    font-size: 1.5em;
                }     
                .profile-credits {
                    position: static;
                    text-align: center;
                }
                .line {
                    margin: 30px auto 0 auto;
                }
             
            }
            .right {
                .profile-edit {
                    margin: 30px auto 0 auto;
                }
            }

        }
        .profile-container {
            display: block;
            .left {
                div {
                    .projects {
                        overflow: hidden;
                        .teamIcon {
                            display: none;
                        }
                        img {
                            display: none;
                        }
                    }
                }
            }
        }
        .profile-below-container {
            display: block;
            .left {
                .skill {
                    flex-wrap: wrap;
                    margin: 25px 0 8px 0;
                    .nameAndIcon {
                        width: 70%;
                    }
                    p {
                        width: 30%;
                    }
                    .progress {
                        width:100%;
                        margin: 15px 0 0 0;
                    }
                }
            }
            .right {
                width: 100%;
            }
        }
    }
    .profile-edit {
        textarea {
            width: 100%;
        }
        input {
            width: 100%;
        }
        button {
            width: 100%;
        }
    }
}