.project-panel {
    padding: 25px;
    display: flex;
    background: #F6DCE5;
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 35px;
    .column-1 {
        flex: 1 0 25%;
        padding: 0 2%;
        background: #F6DCE5;
        .title {
            font-family: balboa-plus-fill,sans-serif;
            font-weight: 400;
            font-style: normal;
            text-align: center;
            font-size: 2.1em;
        }
        .teamtitle {
            padding: 15px 0 0 0;
            font-size: 1.8em;
        }

        .team {
            margin: 7px 10px 0 0;
            color: black;
            display: block;
            .teamIcon {
                background: black;
                border-radius: 100%;
                font-size: 23px;
                padding: 6px;
                margin-right: 8px;
                position: relative;
                top: 10px;
            }
        }
        .line {
            width: 98%;
            height: 8px;
            background: black;
            margin: 0 auto;
            border-radius: 8px;
        }
        .desc {
            margin: 30px 0;
        }
       .project-headers {
           display: flex;
           img {
               
               display: block;
               width: 33.3%;
               padding: 10px 10%;
               box-sizing: border-box;
           }
       }
       .project-info {
           display: flex;
           margin-bottom: 30px;
          
           p {
                width: 33.3%;
                text-align: center;
           }
       }
       .new-event {
            background: #47AD4C;
            color: white;
            padding: 15px 0;
            border: 0;
            width: 50%;
            margin: 50px auto;
            display: block;
            text-align: center;
            text-decoration: none;
       }
    }
    .column-2 {
        flex: auto;
        margin: 0 0 0 1%;
        display: flex;
        flex-wrap: wrap;
        .project-panel-event {
            width: 48%;
            padding: 0 1%;
            margin: 70px 1% 20px 1%;
            background: #EBB1C4;
            text-decoration: none;
            color: black;
            padding: 15px;
            box-sizing: border-box;
            border-radius: 35px;
            position: relative;
            .event-logo {
                width: 100px;
                height: 100px;
                display: block;
                position: absolute;
                left: 50%;
                margin-left: -50px;
                top: -50px;
                border-radius: 100%;
            }
            p {
                text-align: center;
            }
            .leader-buttons {
                display: flex;
                justify-content: space-between;
                .delete {
                    width: 30px;
                }
                .edit {
                    width: 30px;
                    height: 30px;
                    display: block;
                }
            }
         
         
            h2 {
                text-align: center;
                padding: 15px 0;
                font-size: 1.8em;
                a {
                    text-decoration: none;
                    color: black;
                }
            }
            
            .flex-container {
                display: flex;
                width: 100%;
                img {
                    width: 9%;
                    padding: 0 12%;
                    margin-top: 30px;
                }
                p {
                    width: 33.3%;
                    margin-top: 5px;
                    text-align: center;
                }
            }
        }
        .project-panel-event-past {
            background: #f1e1e7;
        }
    }
}


@media only screen and (max-width: 700px) {
    .project-panel {
        display: block;

        .column-2 {
            display: block;
            .project-panel-event {
                width: 100%;
                display: block;     
            }
        }
    }
}