.map-container {
    height: 100%;
    .container {
        background: #E9F0FA;
        height: 83%;
        width: 93%;
        margin: 100px auto 0 auto;
        .filters {
            width: 30%;
            height: 10%;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            
            div {
                position: relative;
                width: 18%;
                p {
                    position: absolute;
                    top: -50%;
                    color:white;
                    padding: 30px 0;
                    border-radius: 100%;
                    letter-spacing: 1px;
                    font-family: perMar;
                    width: 100%;
                    box-sizing: border-box;
                    text-align: center;
                    font-size: 0.75em;
                }
           
                
            }
        }
        .map {
            width: 93%;
            margin: 0 auto;
            height: 85%;
            box-sizing: border-box;
            .popup {
                h2 {
                    a {
                        color: black;
                    }
                }
                p {
                    margin: 0;
                    padding: 10px 0 0 0;
                }
                .data-container {
                    display: flex;
                    padding: 10px 0 0 0;
                    img {
                        width: 40px;
                        /*position: relative;
                        top: 13px;*/
                    }
                    p {
                        margin: 0 0 0 8px;
                        padding: 10px 0;

                      
                    }
                }
           
            }
            .leaflet-popup-content-wrapper {
                background: #E9F0FA;
            }
            .leaflet-popup-tip {
                background: #E9F0FA;
            }
        }
    }
}