.projects {
    margin: 30px auto 0 auto;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    .project { 
        flex: 1 0 29.3%;
        margin: 70px 2% 0 2%;
        background: #E9F0FA;
        position: relative;
        border-radius: 7px;
        min-width: 0;

        .project-logo {
            width: 90px;
            display: block;
            margin: 0 auto;
            position: relative;
            top: -45px;
            border-radius: 100%;
        }
        .project-title {
            text-align: center;
            font-weight: bold;
            font-size: large;
        }
        .project-desc {
            margin-top: 15px;
            padding: 0 30px 98px 30px;
            p {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2; /* number of lines to show */
                -webkit-box-orient: vertical;
            }
            
        }
        .project-icons-container {
            position: absolute;
            bottom: 10px;
            display: block;
            width: 100%;
            .project-icons {
              
                display: block;
                width: 100%;
                div {
                    float: left;
                    width: 25%;
                    img {
                        width: 40px;
                        margin: 0 auto;
                        display: block;
                    }
                    p {
                        text-align: center;
                    }
                    .project-leader-name {
                        font-size: 0.7em;
                        padding-top: 5px;
                    }
                }
            }
        }
        .project-leader-btn {
            position: absolute;
            top: 8px;
            right: 8px;
            width: 30px;
            display: block;
            img {
               width: 100%;
            }
        } 
    }
}