@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import '~@fullcalendar/common/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';

* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body, #root, .App {
    height: 100%;
    background: #FBFBFB;
}

.height100 {
    height: 100%;
}

.loginrood {
    position: absolute;
    top: 0;
    left: 0;
}

.loginblauw {
    position: absolute;
    bottom: 0;
    right: 0;
}

.login {
    width: 50%;
    margin: 0 auto;
    .logo {
        width: 40%;
        display: block;
        margin: 0 auto 50px auto;
        padding-top: 100px;
    }
    input {
        width: 100%;
        box-sizing: border-box;
        padding: 8px 5px;
        margin: 0 0 12px 0;
    
    }
    button {
        background: none;
        border: 1px solid lightgray;
        padding: 8px 0;
        width: 25%;
        cursor: pointer;
        display: block;
        margin: 15px auto 0 auto;
    }
    .register {
        display: block;
        width: 35%;
        margin: 20px auto 0 auto;
        background: #DF1365;
        border-radius: 10px;
        cursor: pointer;
        img {
            width: 100%;
            display: block;
            padding: 8px 0;
        }
    }
}

.nav {
    display: flex;
  
    
    div {
        width: 33%;
        height: 150px;
        text-align: center;
        a {
            width: 100%;
            height: 100%;
            display: block;
            img {
              
                height: 100%;
        

            }
        }
    }
}

.projects {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .project { 
        flex: 1 0 50%;
        border-bottom: 1px solid #DFDDDE;
        padding: 20px;
        box-sizing: border-box;
        .project-leader-btn {
            img {
                width: 40px;
                position: relative;
                top: 13px;
            }
        } 
    }
    .project:nth-child(odd) {
        border-right: 1px solid #DFDDDE;
    }
}


.profile-history-headers {
    width: 80%;
    margin: 50px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    p {
        width: 16.66%;
        font-weight: bold;
    }
}

.profile-title {
    width: 30%;
    display: block;
    margin: 50px auto 35px auto;
}

.profile-section-1 {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 100px auto 0 auto;
    .profile-default {
        width: 30%;
        img {
            margin: 0 auto;
            display: block;
            border-radius: 100%;
        }
        p {
            text-align: center;
        }
    }
    .profile-name {
        font-size: 1.2em;
        margin: 15px 0 5px 0;
    }
    .profile-credits {
        display: flex;
        justify-content: space-between;
        border: 1px solid black;
        border-radius: 30px;
        font-size: 2.5em;
        margin-top: 10px;
        span {
            margin-left: 10px;
        }
        img {
            width: 65px;
        }
    }

    .profile-hours {
        display: flex;
        justify-content: space-between;
        border: 1px solid black;
        border-radius: 30px;
        font-size: 2.5em;
        margin-top: 10px;
        p {
            font-size: 0.8em;
            margin-right: 10px
        }
        span {
            margin-left: 10px;
        }
    }

    .logout {
        border: 1px solid black;
        border-radius: 15px;
        text-align: center;
        margin-top: 10px;
        padding: 5px 0;
        cursor: pointer;
    }
}

.profile-history {
    width: 80%;
    margin: 0 auto;
    div div {
        display: flex;
        flex-wrap: wrap;
        p {
            width: 16.66%;
            padding: 15px 0;
        }
    }
}

.trade {
    padding: 0 15px;
    box-sizing: border-box;
    input {
        margin-top: 10px;
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
    }
    select {
        margin-top: 10px;
        width: 100%;
        padding: 5px;
    }
    button {
        width: 50%;
        margin: 0 auto;
        display: block;
        background: none;
        border: 1px solid black;
        padding: 5px;
        box-sizing: border-box;
        margin-top: 10px;
    }
}

.get-table {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    .get {
        width: 44%;
        box-sizing: border-box;
        margin: 20px 3%;
        h2 {
            margin-top: 15px;
        }
        p {
            margin: 20px 20px 0 20px;
        }
    }
    .flex-buttons {
        display: flex;
    }
    .services {
        border: 2px solid #00A7DE;
        border-radius: 15px;
        h2 {
            color: #00A7DE;
            text-align: center;          
        }
        .list-button {
            width: 44%;
            background: #00A7DE;
            text-align: center;
            margin: 15px 2% 15px 4%;
            padding: 5px;
        }
        .globe-button {
            width: 44%;
            background: #00A7DE;
            text-align: center;
            margin: 15px 4% 15px 2%;
            padding: 5px;
        }
    }
    .businesses {
        border: 2px solid #E2A433;
        border-radius: 15px;
        h2 {
            color: #E2A433;
            text-align: center;
        }
        .list-button {
            width: 44%;
            background: #E2A433;
            text-align: center;
            margin: 15px 2% 15px 4%;
            padding: 5px;
        }
        .globe-button {
            width: 44%;
            background: #E2A433;
            text-align: center;
            margin: 15px 4% 15px 2%;
            padding: 5px;
        }
    }
    .payout {
        border: 2px solid #9F9888;
        border-radius: 15px;
        h2 {
            color: #9F9888;
            text-align: center;
        }
        .list-button {
            width: 44%;
            background: #9F9888;
            text-align: center;
            margin: 15px 2% 15px 4%;
            padding: 5px;
        }
    }
    .history {
        border: 2px solid #DF1C65;
        border-radius: 15px;
        h2 {
            color: #DF1C65;
            text-align: center;
        }
        .list-button {
            width: 44%;
            background: #DF1C65;
            text-align: center;
            margin: 15px 2% 15px 4%;
            padding: 5px;
        }
    }
}

.businesses-container {
    width: 94%;
    
    margin: 20px 3%;
    border-collapse: collapse;
    .headers {
        border-bottom: 1px solid black;      
    }
    th {
        padding: 3px 0;
    }
    td {
        padding: 7px 3px;
    }
}

.map-container {
    height: 100%;
    .map {
        width: 80%;
        margin: 5vh auto;
        height: 78%;
    }
}
.network {
    display: flex;
    height: 88%;
    .chat {
        width: 100%;
        height: 100%;
        .network-inputs {
            height: 5%;
            display: flex;

            input {
                width: 100%;
                box-sizing: border-box;
                border:none;
                border-top: 1px solid #C7C7C7;
                padding-left: 15px;
                border: 1px solid lightgrey;
           
            }   
            .network-submit {
                width: 20%;
                background: #0084FF;
                color: white;
                border: none;
                font-weight: bold;
                font-size: large;
            } 
        }
        .messages {
            width: 100%;
            height: 95%;
            div {
                background: #0084FF;
                color: white;
                padding: 15px;
                margin: 15px;
                width: fit-content;
                border-radius: 18px;
                span {
                    margin-left: 30px;
                    font-size: 1;
                }
            }
        }
    }
}

.admin {
    height: 100%;
    .admin-container {
        display: flex;
        height: 100%;
        .admin-container-left {
            border-right: 1px solid black;
            width: 20%;
            height: 100%;
            display: block;
            h1 {
                border-bottom: 1px solid black;
                padding: 7px 0 10px 15px;
            }
            ul {
                li {
                    border-bottom: 1px solid black;
                    padding: 15px 0 15px 15px;
                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }
        .admin-container-right {
            width: 80%;
            .admin-container-right-title {
                display: flex;
                justify-content: space-between;
                h2 {
                    font-size: 1.7em;
                    margin: 8px 0 0 15px;
                }
                .new {
                    background: black;
                    padding: 8px;
                    border-radius: 10px;
                    width: 150px;
                    text-align: center;
                    margin: 15px 50px 15px 0;
                    a {
                        text-decoration: none;
                        color: white;
                    }
                }
            }
            .admin-projects {
                div {
                    display: flex;
                    p {
                        flex: 1;
                        border-bottom: 1px solid black;
                        padding: 15px;
                        .edit {
                            background: black;
                            color: white;
                            padding: 8px;
                            border-radius: 10px;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}

.event-panel {
    padding: 15px;
    .event {
        display: flex;
        p, h2 {
            width: 20%;
            padding: 10px 0 0 0;
            box-sizing: border-box;
        }
        span {
            display: block;
        }
     
    }

    .event-headers {
        display: flex;
        margin: 0 0 20px 0;
        p, h2 {
            width: 20%;           
            box-sizing: border-box;
        }
    }
    .event-details {
        display: flex;
        margin: 25px auto;
        div {
            width: 50%;
        }
        .free {
            font-size: 20px;
        }
       
    }
    .subscribe {
        margin-top: 15px;
        display: flex;
        input {
            width: 50%;
            padding: 10px;
            border: 1px solid #DFDDDE;
            border-right: 0;
        }
        button {
            width: 50%;
            padding: 10px;
            background: #00A6DD;
            color: white;
            font-weight: bold;
            border: 0;
        }
    }
    .line {
        width: 100%;
        border-bottom: 1px solid #DFDDDE;
        margin: 40px 0 30px 0;
    }
}

.create {
    width: 80%;
    margin: 0 auto;
    h2 {
        text-align: center;
        margin: 45px 0;
        font-size: 1.7em;
    }
    input {
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
        margin: 0 0 15px 0;
    }
    select {
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
        margin: 0 0 15px 0;
    }
}

.project-leader-titles {
    padding: 15px 0;
}

.leader-events {
    //display: flex;
    .leader-event {
        padding: 15px 0;
        h2 {
            font-size: 1em;
        }
        div {
            display: flex;
            justify-content: space-between;
            width: 100%;
            border-bottom: 1px solid black;
            padding: 15px;
            box-sizing: border-box;
            p {
                flex-grow: 1;
                flex-basis: 0;
            }
        }
    }
}

.agenda-popup {
    width: 300px;
    height: 400px;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -150px;
    background: #FBFBFB;
    position: absolute;
    z-index: 9999;
    border: 1px solid lightgrey;
    .close {
        font-size: 2em;
        text-align: right;
        display: block;
        position: relative;
        top: 0;
        right: 10px;
    }
    p {
        padding: 10px;
    }
}

.agenda {
    width: 96%;
    margin: 0 auto;
    height: 80%;

    .fc-media-screen {
        width: 100%;
        height: 100%;
    }
}

.event-details {
    h2 {
        text-align: center;
        margin: 50px 0;
    }
}



.bold {
    font-weight: bold;
}

.project > p {
    margin-bottom: 5px;
}

.white {
    background: white;
}

.grey {
    background: #FBFBFB;
}

.red {
    background: #DF1A64;
}
.blue {
    background: #00A6DD;
}

.flex {
    display: flex;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.full-width {
    width: 100%!important;
}

.mt-70 {
    margin-top: 70px!important;
}
.mt-15 {
    margin-top: 15px!important;
}
.mb-70 {
    margin-bottom: 70px!important;
}


@media only screen and (max-width: 1200px) {
    .nav div {
        height: 70px;
    }
    
}

@media only screen and (max-width: 800px) {
    .nav div {
        height: 50px;
    }
    
}

@media only screen and (max-width: 600px) {
    .nav div {
        height: 40px;
    }
    
}

@media only screen and (max-width: 400px) {
    .nav div {
        height: 30px;
    }
    
}