@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@font-face {
    font-family: perMar;
    src: url('./font/PermanentMarker-Regular.ttf');
  }
@import '~@fullcalendar/common/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';

* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body, #root, .App {
    height: 100%;
    background: #FBFBFB;
}

.height100 {
    height: 100%;
}

.loginrood {
    position: absolute;
    top: 0;
    left: 0;
}

.loginblauw {
    position: absolute;
    bottom: 0;
    right: 0;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
    display: block;
    width: 100%;
}

.height100 {
    height: 100%;
}

.bold {
    font-weight: bold;
}

.project > p {
    margin-bottom: 5px;
}

.white {
    background: white;
}

.grey {
    background: #FBFBFB;
}

.red {
    background: #DF1A64;
}
.blue {
    background: #00A6DD;
}

.yellow {
    background: #FDC803;
}

.flex {
    display: flex;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.full-width {
    width: 100%!important;
}

.mt-70 {
    margin-top: 70px!important;
}
.mt-15 {
    margin-top: 15px!important;
}
.mb-70 {
    margin-bottom: 70px!important;
}


@media only screen and (max-width: 1200px) {
    .nav div {
        height: 70px;
    }
    
}

@media only screen and (max-width: 800px) {
    .nav div {
        height: 50px;
    }
    
}

@media only screen and (max-width: 600px) {
    .nav div {
        height: 40px;
    }
    
}

@media only screen and (max-width: 400px) {
    .nav div {
        height: 30px;
    }
    
}