@import url("https://use.typekit.net/lce0lwc.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@import '~@fullcalendar/common/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';

* {
    margin: 0;
    padding: 0;
    font-size: helvetica;
}

textarea:focus, input:focus{
    outline: none;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background: white;
    
}
::-webkit-scrollbar-thumb {
    background: black;
    border-right: 3px solid white; 
    border-radius: 15px;
}

html, body, #root, .App {
    height: 100%;
    background: #FBFBFB;
}

.height100 {
    height: 100%;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
    display: block;
    width: 100%;
}

.height100 {
    height: 100%;
}

.bold {
    font-weight: bold;
}

.project > p {
    margin-bottom: 5px;
}

.white {
    background: white;
}

.black {
    background: black;
}

.grey {
    background: #FBFBFB;
}

.purple {
    background: #7459A2;
}

.red {
    background: #DF1A64;
}
.blue {
    background: #00A6DD;
}

.yellow {
    background: #FDC803;
}

.flex {
    display: flex;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.full-width {
    width: 100%!important;
}

.mt-70 {
    margin-top: 70px!important;
}
.mt-15 {
    margin-top: 15px!important;
}
.mb-70 {
    margin-bottom: 70px!important;
}